body {
    padding: 50px;
    font: 15px "Noto Sans Display";
}

nav {
    background-color: silver;
}

a {
    color: #032f80;
}

.delete-form {
    display: inline-block;
    margin-right: 13px;
}

.delete-form button {
    color: rgb(255, 123, 0);
    background: rgb(0, 0, 0);
}

li {
    list-style: none;
}